body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.App {
    max-width: 600px;
    margin: 0, auto;
    padding: 20px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: black;
    font-weight: 700;
}

form{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}

input {
    flex: 1;
    font-size: 16px;
    padding: 10px;
    width: 500px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button img {
    width: 24px;

}


.filter-btn{
    background-color: #28a745 !important;
}

button:hover{
    background-color: #218838;
}

/* todo list display  */
.toto-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-text{
    flex: 1;
    margin-right: 20px;
    color: black;
}

.due-time{
    color: black;
}

.todo-actions button{
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.todo-actions button:hover{
    background-color: #0056b3;

}
.complete{
    text-decoration: line-through;
    color: grey;
}

button.save-btn{
    background-color: #4caf50 ;
}

button.edit-btn {
    background-color: #2196f3;

}

button.delete-btn{
    background-color: #f44336;
}

/* Responsive design  */
@media (max-width: 600px){
    .App {
        width: 100%;
        padding: 5px;
    }

    form{
        flex-direction: column;
    }

    input[type="text"]{
        width: 90%;
        margin-right: 0;
    }

    button{
        width: 80%;
    }
    
    .toto-item{
        flex-direction: column;
        align-items: flex-start;
    }

    .todo-actions{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
    }
    .todo-text {
        width: 100%;
        margin-bottom: 10px;
    }
    .due-time{
        text-align: center;
        width: 100%
    }
}
