.App {
    max-width: 90%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}

input {
    flex: 1;
    font-size: 16px;
    padding: 10px;
    width: 500px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #28a745 !important;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background-color: #218838;
}

/* todo list display  */
.toto-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-text{
    flex: 1;
    margin-right: 20px;
}

.todo-actions button{
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.todo-actions button:hover{
    background-color: #0056b3;

}
.complete{
    text-decoration: line-through;
    color: grey;
}